.forecastSection {
  display: flex;
  flex-direction: column;
}

.forecastSection > * + * {
  margin-top: 26px;
}

.forecastSection > h2 + * {
  margin-top: 12px;
}

@media (min-width: 700px) {
  .forecastSection > * + * {
    margin-top: 30px;
  }
}
